<!DOCTYPE html>
<html>
<head>
<title>Question 1</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Liste de tous les titres</h1>

<table border ="1">
    <thead>
        <th>N°</th>
        <th>Titre</th>
        <th>Auteur</th>
        <th>Document est-il emprunté ?</th>
        <th>Emprunter</th>
    </thead>
    <%
        var form ='';
        var button ='';
        var table = '';
        var titre = '';
        var documentemprunte ;
        var auteur = '';
        var conteur = 0;
        
        for (i = 0; i < alltitles.length; i++) {

            conteur += 1;
            titre = alltitles[i].fields['titre_avec_lien_vers_le_catalogue'];
            documentemprunte = alltitles[i].fields['document_emprunte'];
            auteur = alltitles[i].fields['auteur'];

            //La condition pour vérifier si le titre est emprunté ou pas
            if(documentemprunte=='non'){
                var buttonboel = false;
                button ='Emprunter';
            }else{
                var buttonboel = true;
                button ='Ramener';
            }

            form = '<form id="formEmprunte" name="emprunte" method="post" action="/emprunte"><button id="btnSubmit" type="submit" name="buttonValue" value="'+button+'">' + button + '</button></form>'
            
            table += '<tr><td>' + conteur + '</td><td>' + titre + '</td><td>' + auteur + '</td><td>' + documentemprunte + '</td><td>' + form +'</td></tr>';
        }
    %>
    <%- table %>
</table>
</body>
</html>