<!DOCTYPE html>
<html>
<head>
<title>Liste des titres</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Liste des titres</h1>
<ul>
    <%
        var list = '';
        for (i = 0; i < alltitles.length; i++) {
            var title = alltitles[i].fields['titre_avec_lien_vers_le_catalogue'];
            list += '<li>' + title + '</a></li>';
        }
    %>
    <%- list %>
</ul>
</body>
</html>