<!DOCTYPE html>
<html>
<head>
<title>Question 3</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Tableau informatif des documents sans type</h1>
    <table border ="1">
        <thead>
            <th>N°</th>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Nombre de réservations</th>
            <th>Nombre de rang</th>
        </thead>
        <%
            var table = '';
            var titre = '';
            var nbreservation ;
            var rang;
            var auteur = '';
            var conteur = 0;
            
            for (i = 0; i < titles3categ.length; i++) {

                conteur += 1;
                titre = titles3categ[i].fields['titre_avec_lien_vers_le_catalogue'];
                nbreservation = titles3categ[i].fields['nombre_de_reservations'];
                rang = titles3categ[i].fields['rang'];
                auteur = titles3categ[i].fields['auteur'];

                table += '<tr><td>' + conteur + '</td><td>' + titre + '</td><td>' + auteur + '</td><td>' + nbreservation + '</td><td>' + rang +'</td></tr>';
            }
        %>
        <%- table %>
    </table>
</body>
</html>