<!DOCTYPE html>
<html>
<head>
<title>Question 2</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Liste des titres ayant des rangs entre 1 et 10</h1>
<ul>
    <%
        var list = '';
        for (i = 0; i < titles1categ.length; i++) {
            var title = titles1categ[i].fields['titre_avec_lien_vers_le_catalogue'];
            var rang = titles1categ[i].fields['rang'];
            if (rang < 11 && rang > 0){ 
                list += '<li>' + title + '</li>';
            }
            else {
                list += '';
            }
        }
    %>
    <%- list %>
</ul>
</body>
</html>